---
- name: Install Name-That-Hash via pipx
  ansible.builtin.shell:
    cmd: "{{ pyenv_root }}/versions/{{ pyenv_python_versions[0] }}/bin/pipx install --system-site-packages name-that-hash"
  args:
    creates: "{{ target_user_home }}/.local/bin/nth"
  become: yes
  become_user: "{{ target_user }}"

- name: Add Name-That-Hash history commands
  ansible.builtin.copy:
    dest: "{{ target_user_home }}/.zsh_history.d/name-that-hash.history"
    content: |
      nth --text 5f4dcc3b5aa765d61d8327deb882cf99
    mode: '0644'
    owner: "{{ target_user }}"
    group: "{{ target_user }}"