---
- name: Install XFCE and tigervnc
  ansible.builtin.apt:
    name:
      - xfce4
      # - xfce4-goodies
      - tigervnc-standalone-server
      - tigervnc-tools
      - tigervnc-xorg-extension
      - novnc
      - websockify
      - dbus-x11
      - terminator
      - intltool
      - libtool
      - librsvg2-common
      - papirus-icon-theme
    state: present
    install_recommends: no

- name: Copy VNC start script from template
  ansible.builtin.template:
    src: start-desktop.j2
    dest: /usr/local/bin/start-desktop
    mode: '0755'

- name: Copy VNC stop script from files
  ansible.builtin.copy:
    src: desktop/stop-desktop
    dest: /usr/local/bin/stop-desktop
    mode: '0755'

- name: Ensure tigervnc directory exists for the user
  ansible.builtin.file:
    path: "{{ target_user_home }}/.config/tigervnc"
    state: directory
    owner: "{{ target_user }}"
    group: "{{ target_user }}"
    mode: '0755'

- name: Copy xstartup config file
  ansible.builtin.copy:
    src: desktop/xstartup
    dest: "{{ target_user_home }}/.config/tigervnc"
    owner: "{{ target_user }}"
    group: "{{ target_user }}"
    mode: '0755'
  become: yes
  become_user: "{{ target_user }}"

- name: Touch .Xauthority file
  ansible.builtin.file:
    path: "{{ target_user_home }}/.Xauthority"
    state: touch
    owner: "{{ target_user }}"
    group: "{{ target_user }}"
    mode: "0644"

### Theming
- name: Add desktop theming directories
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: '0755'
    owner: "{{ target_user }}"
    group: "{{ target_user }}"
  loop:
    - "{{ target_user_home }}/.themes"
    - "{{ target_user_home }}/.config/xfce4/xfconf/xfce-perchannel-xml"
    - "{{ target_user_home }}/.config/menus"
    - "{{ target_user_home }}/.config/terminator"

- name: Install Gruvbox GTK Theme from local archive
  ansible.builtin.unarchive:
    src: desktop/Gruvbox-B-LB-dark-Soft.tar.xz
    dest: "{{ target_user_home }}/.themes"
    owner: "{{ target_user }}"
    group: "{{ target_user }}"
    creates: "{{ target_user_home }}/.themes/Gruvbox-B-LB-Dark-Soft"
  become: yes

- name: Apply XFCE xsettings
  ansible.builtin.copy:
    src: desktop/xsettings.xml
    dest: "{{ target_user_home }}/.config/xfce4/xfconf/xfce-perchannel-xml/xsettings.xml"
    owner: "{{ target_user }}"
    group: "{{ target_user }}"
    mode: '0644'

- name: Apply XFCE xfwm settings
  ansible.builtin.copy:
    src: desktop/xfwm4.xml
    dest: "{{ target_user_home }}/.config/xfce4/xfconf/xfce-perchannel-xml/xfwm4.xml"
    owner: "{{ target_user }}"
    group: "{{ target_user }}"
    mode: '0644'

- name: Apply XFCE desktop settings
  ansible.builtin.copy:
    src: desktop/xfce4-desktop.xml
    dest: "{{ target_user_home }}/.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-desktop.xml"
    owner: "{{ target_user }}"
    group: "{{ target_user }}"
    mode: '0644'

- name: Apply XFCE applications menu settings
  ansible.builtin.copy:
    src: desktop/xfce-applications.menu
    dest: "{{ target_user_home }}/.config/menus/xfce-applications.menu"
    owner: "{{ target_user }}"
    group: "{{ target_user }}"
    mode: '0644'

- name: Apply terminator config
  ansible.builtin.copy:
    src: desktop/terminator.config
    dest: "{{ target_user_home }}/.config/terminator/config"
    owner: "{{ target_user }}"
    group: "{{ target_user }}"
    mode: '0644'

- name: Add directory entry in the menu overview
  ansible.builtin.copy:
    src: desktop/infijar.directory
    dest: "/usr/share/desktop-directories/infijar.directory"
    mode: '0644'
    owner: root
    group: root
  become: yes

- name: Create directory for backgrounds
  ansible.builtin.file:
    path: "/usr/share/backgrounds/infijar"
    state: directory
    mode: '0755'
  become: yes

- name: Deploy custom wallpaper image
  ansible.builtin.copy:
    src: desktop/iamroot_cozette.png
    dest: "/usr/share/backgrounds/infijar/iamroot_cozette.png"
    mode: '0644'
    owner: root
    group: root
  become: yes