# - name: Install Python
#   ansible.builtin.apt:
#     name:
#       # - python3
#       # - python3-pip
#       - python3-venv
#       # - python3-setuptools
#     state: present
#     install_recommends: no
#   become: yes

- name: Install Python build dependencies
  ansible.builtin.apt:
    name:
      - python3-venv
    state: present
    install_recommends: no
  become: yes

- name: Clone Pyenv repository
  ansible.builtin.git:
    repo: https://github.com/pyenv/pyenv.git
    dest: "{{ pyenv_root }}"
    version: master
  become: yes

- name: Create Pyenv plugins directory
  ansible.builtin.file:
    path: "{{ pyenv_root }}/plugins"
    state: directory
    mode: '0755'
  become: yes

- name: Install Pyenv plugins
  ansible.builtin.git:
    repo: "{{ item.repo }}"
    dest: "{{ pyenv_root }}/plugins/{{ item.name }}"
    version: master
  loop:
    - { name: 'pyenv-virtualenv', repo: 'https://github.com/pyenv/pyenv-virtualenv.git' }
    - { name: 'pyenv-update', repo: 'https://github.com/pyenv/pyenv-update.git' }
    - { name: 'pyenv-doctor', repo: 'https://github.com/pyenv/pyenv-doctor.git' }
  become: yes

- name: Compile Pyenv dynamic bash extension
  ansible.builtin.shell:
    cmd: src/configure && make -C src
    chdir: "{{ pyenv_root }}"
  args:
    creates: "{{ pyenv_root }}/src/libexec/pyenv-realpath.dylib" 
  become: yes
  ignore_errors: yes

- name: Install Python versions
  ansible.builtin.shell:
    cmd: |
      export PYENV_ROOT="{{ pyenv_root }}"
      export PATH="$PYENV_ROOT/bin:$PATH"

      export MAKE_OPTS="-j$(nproc)"
      eval "$(pyenv init -)"

      case "{{ item }}" in
        2*)
          export CC=clang
          export CXX=clang++
          export CFLAGS="-std=gnu89 -Wno-error=implicit-function-declaration"
          ;;
      esac
      
      pyenv install {{ item }}
  loop: "{{ pyenv_python_versions }}"
  args:
    creates: "{{ pyenv_root }}/versions/{{ item }}/bin/python"
  become: yes

- name: Install virtualenv for Python 2 versions
  ansible.builtin.shell:
    cmd: "{{ pyenv_root }}/versions/{{ item }}/bin/pip install --no-cache-dir virtualenv"
  loop: "{{ pyenv_python_versions }}"
  when: item.startswith('2.')
  become: yes

- name: Upgrade pip and install wheel for all versions
  ansible.builtin.shell:
    cmd: |
      export PYENV_ROOT="{{ pyenv_root }}"
      export PATH="$PYENV_ROOT/bin:$PATH"
      eval "$(pyenv init -)"

      PREFIX=$(pyenv prefix {{ item }})
      "$PREFIX/bin/pip" install --upgrade pip
      "$PREFIX/bin/pip" install wheel
  loop: "{{ pyenv_python_versions }}"
  become: yes

- name: Set global Python version
  ansible.builtin.shell:
    cmd: |
      export PYENV_ROOT="{{ pyenv_root }}"
      export PATH="{{ pyenv_root }}/bin:$PATH"
      eval "$(pyenv init -)"
      pyenv global {{ pyenv_python_versions | join(' ') }}
  become: yes
  changed_when: false

- name: Install pipx via primary Python
  ansible.builtin.shell:
    cmd: "{{ pyenv_root }}/versions/{{ pyenv_python_versions[0] }}/bin/pip install pipx"
  args:
    creates: "{{ pyenv_root }}/versions/{{ pyenv_python_versions[0] }}/bin/pipx"
  become: yes

- name: Configure Pyenv in shell environment
  ansible.builtin.copy:
    dest: "{{ target_user_home }}/.zshrc.d/10-pyenv.zsh"
    content: |
      # Pyenv Configuration
      export PYENV_ROOT="{{ pyenv_root }}"
      export PATH="$PYENV_ROOT/bin:$PATH"
      
      if command -v pyenv 1>/dev/null 2>&1; then
        eval "$(pyenv init -)"
        eval "$(pyenv virtualenv-init -)"
      fi
    mode: '0644'
    owner: "{{ target_user }}"
    group: "{{ target_user }}"