---
- name: Download Rustup installer
  ansible.builtin.get_url:
    url: https://sh.rustup.rs
    dest: /tmp/rustup.sh
    mode: '0755'

- name: Install Rust (rustc, cargo) via Rustup
  ansible.builtin.command:
    cmd: /tmp/rustup.sh -y
  args:
    creates: "{{ target_user_home }}/.cargo/bin/cargo"
  become: yes
  become_user: "{{ target_user }}"

- name: Download cargo-binstall installer
  ansible.builtin.get_url:
    url: https://raw.githubusercontent.com/cargo-bins/cargo-binstall/main/install-from-binstall-release.sh
    dest: /tmp/install-binstall.sh
    mode: '0755'

- name: Install cargo-binstall
  ansible.builtin.command:
    cmd: sh /tmp/install-binstall.sh
  args:
    creates: "{{ target_user_home }}/.cargo/bin/cargo-binstall"
  environment:
    PATH: "{{ target_user_home }}/.cargo/bin:{{ ansible_env.PATH }}"
  become: yes
  become_user: "{{ target_user }}"

# Installing through rustup already takes care of this for us.
# - name: Create Rust shell configuration
#   ansible.builtin.copy:
#     dest: "{{ target_user_home }}/.zshrc.d/rust.zsh"
#     content: |
#       # Add Cargo to path
#       export PATH="$HOME/.cargo/bin:$PATH"
#     mode: '0644'
#     owner: "{{ target_user }}"
#     group: "{{ target_user }}"